In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np
import time

headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

In [2]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []

job_counter = 0

In [3]:
# search for searchterm and salary to get the number of pages 
url = 'https://au.jora.com/j?sp=search&q=&l=Perth+WA'
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, features='html.parser')
jobs_on_page = soup('article')

In [4]:
#jobs_on_page

In [5]:
#### NEED TO EXPAND TO LOOP THROUGH EMPLOYMENT FIELDS

for i in range(len(jobs_on_page)):
                
                job_counter += 1
                
                job_title.append(soup('article')[i].find('a', {'target':'_blank'}).text)
                company_name.append(soup('article')[i].find('span', {'class':'job-company'}).text)
                short_description.append(soup('article')[i].find('div', {'class':'job-abstract'}).text)
#                job_location.append(soup('article')[i].find('div', {'class':'info-container heading-small mobile-web-redesign location-container'}).text)
                
#                job_location.append(soup('article')[i].select('span.job-location').text)

#                job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
#                job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
#                 job_link.append(soup('article')[i].h1.a['href'])
                
                print('Jobs scraped: %d' % job_counter, end='\r')
        
                
#                 try:
#                     company_name.append(soup('article')[i].find('div', {'class':'job-company'}).text)
#                 except:
#                     company_name.append(np.nan)
                    
#                 try:
#                     job_location.append(soup('article')[i].find('div', {'class':'job-location'}).text)
#                 except:
#                     job_location.append(np.nan)

In [6]:
print(len(company_name))
print(len(job_title))
print(len(job_location))
print(len(short_description))

10
10
0
10

In [7]:
print(job_location)

[]

In [8]:
first_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description
#             'job_location': job_location,
#             'job_classification': job_classification,
#             'job_subclassification': job_subclassification
             }

In [9]:
first_data_df = pd.DataFrame(first_data)
first_data_df

,job_title,company_name,short_description
0,Administration Support Officer (Reception),St Stephen's School,St Stephen’s School is inviting applications f...
1,Immediate Start -PERTH ONLY! No Experience Nec...,The Green Army,We are currently expanding our PERTH PROMOTION...
2,ENTRY LEVEL SALES REPRESENTATIVE (No Experienc...,Forner Group Marketing,We work for businesses and organisations that ...
3,Retail Assistant - Online Picking,Iceland Foods,At Iceland we like to do things differently. W...
4,Customer Experience Consultant,Agency : Health Support Services,We are seeking an enthusiastic and suitably ex...
5,No Experience Necessary! We're looking for RET...,Forner Group Marketing,We work for businesses and organisations that ...
6,Administration Assistant,Barry Nilsson,An exciting opportunity has arisen for a brigh...
7,Receptionist,Alinta Energy,We are looking for an experienced Receptionist...
8,Project Support Officer,Branch : H&A Maintenance,As a Project Support Officer (Level 4) you wil...
9,Office Administrator,Piper Preston Pty Ltd,We have a unique opportunity for an Office Adm...

In [10]:
# count, tally and describe words in short_description

description_count_df = (first_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

In [11]:
description_count_df

             vals  count
0             and     11
1              We      9
2               a      9
3              to      8
4             for      8
..            ...    ...
125         PERTH      1
126           new      1
127  IMMEDIATE...      1
128     Reporting      1
129           has      1

[130 rows x 2 columns]