In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np
import time

from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []

job_counter = 0

In [4]:
# search for searchterm and salary to get the number of pages 
url = 'https://au.jora.com/j?sp=search&q=&l=Perth+WA'
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, features='html.parser')
jobs_on_page = soup('article')

In [5]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales']

In [6]:
#### NEED TO EXPAND TO LOOP THROUGH EMPLOYMENT FIELDS
for x in job_field: 
    url = 'https://au.jora.com/j?sp=search&q=' + x + '&l=Perth+WA'
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, features='html.parser')
    jobs_on_page = soup('article')
    
    for i in range(len(jobs_on_page)):

                    job_counter += 1

                    job_title.append(soup('article')[i].find('a', {'target':'_blank'}).text)
                    company_name.append(soup('article')[i].find('span', {'class':'job-company'}).text)
                    short_description.append(soup('article')[i].find('div', {'class':'job-abstract'}).text)
    #                job_location.append(soup('article')[i].find('div', {'class':'info-container heading-small mobile-web-redesign location-container'}).text)

    #                job_location.append(soup('article')[i].select('span.job-location').text)

    #                job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
    #                job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
    #                 job_link.append(soup('article')[i].h1.a['href'])

                    print('Jobs scraped: %d' % job_counter, end='\r')


    #                 try:
    #                     company_name.append(soup('article')[i].find('div', {'class':'job-company'}).text)
    #                 except:
    #                     company_name.append(np.nan)

    #                 try:
    #                     job_location.append(soup('article')[i].find('div', {'class':'job-location'}).text)
    #                 except:
    #                     job_location.append(np.nan)

In [7]:
print(len(company_name))
print(len(job_title))
#print(len(job_location))
print(len(short_description))

40
40
40

In [8]:
print(job_location)

[]

In [9]:
first_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description
#             'job_location': job_location,
#             'job_classification': job_classification,
#             'job_subclassification': job_subclassification
             }

In [15]:
jora_df = pd.DataFrame(first_data)
jora_df

,job_title,company_name,short_description
0,Construction Labourers,Bridge Resources Pty Ltd,If you’re interested in this role and joining ...
1,Site Supervisor NORTH (Residential),Shelford Constructions,Due to unprecedented growth in the residential...
2,Construction Consultant,BGC Australia,Reporting to the Construction Administration M...
3,Labourers | Trade Assistants,Randstad,"LOCATION: Butler, Welshpool, Cardup, Bayswater..."
4,Carpenter/All Rounder/Handyman,Trayd Australia,We are currently seeking an experienced and tr...
5,Construction Project Coordinator / Supervisor,Workpac Group,In conjunction with our government client Work...
6,Site Manager,Webb & Brown-Neaves,"As a Site Manager, you will utilise your exten..."
7,Expression of Interest - Graduate Program Cons...,Monadelphous,No matter what discipline you are graduating i...
8,Site Supervisor,CGC Recruitment,Working in partnership with a highly experienc...
9,Project/Construction Manager,MPI,Due to a large number of capital projects at o...
10,Mid-year 2023 Engineering Graduate intake,Technip Energies,If you share our determination to drive the tr...
11,Mechanical Engineer,Sedgman,Sedgman is looking for suitably qualified and ...
12,Graduate Rotating Mechanical Engineer,Yara,Looking for an exciting new challenge? Yara ar...
13,Mechanical Engineer,Santos,"Reporting to the Team Leader Reliability, this..."
14,Mechanical Engineer,Fortescue Metals Group,Highly proficient in Solidworks for mechanical...
15,Expression of Interest - Engineering Vacation ...,Monadelphous,Our Vacation Program is a great way to gain re...
16,Project Engineer,Metso Outotec,Metso Outotec would like a qualified Project E...
17,Expression of Interest - Graduate Program Engi...,Monadelphous,"Across the Monadelphous workforce, you will fi..."
18,Engineering Manager – Decarbonisation,Fortescue Metals Group,This position is responsible for the engineeri...
19,Graduate Program 2023 - Engineering,Monadelphous,"Across the Monadelphous workforce, you will fi..."
20,Director Public Health Medicine,WA Health,We are seeking to appoint a Director Public He...
21,Public Health Nutrition Coordinator,Agency : East Metropolitan Health Service,We wholly embrace diversity and inclusion and ...
22,Medical Sales Representative - (Health Care),MRI Now,MRI Now is a leading National Medical service ...
23,Clinical Nurse - Shift Coordinator,St John of God Health Care,We are seeking experienced Clinical Nurses to ...
24,Registered Nurse - RN,Techforce Personnel,We are looking for dedicated Registered nurses...
25,Registered Midwife,St John of God Health Care,You will also be provided with specialised Mid...
26,Delivery Driver / Installer,Labourforce,We are looking for a compassionate person to d...
27,Registered Nurse,Joondalup Health Campus,Working on the telemetry care unit at Joondalu...
28,Day Coordinator Hospice Services,St John of God Health Care,St John of God Murdoch Hospital are currently ...
29,Supervised Medical Officer,jobs.wa.gov.au,We are looking for enthusiastic and dynamic ap...
30,Territory Sales Manager,Nestle,Reporting into the State Field Sales Manager Y...
31,Territory Sales Manager - WA,Nestle,"At Nestlé, you will work in a supportive envir..."
32,Area Sales Manager - WA,Cutera,CUTERA Australia and New Zealand is looking fo...
33,Immediate Start -PERTH ONLY! No Experience Nec...,The Green Army,We are currently expanding our PERTH PROMOTION...
34,Sales Representative,Airco Fasteners,A fantastic opportunity currently exists for a...
35,ENTRY LEVEL SALES REPRESENTATIVE (No Experienc...,Forner Group Marketing,We work for businesses and organisations that ...
36,Sales Representative - Western Australia,Verbrec,The Sales Representative will be responsible f...
37,Territory Manager,Euro Auctions,Major growth in the UK market has led to an im...
38,Sales Representative,Superior People Recruitment,Our client is a market leader within the steam...
39,Regional Sales Manager,Onsite Rental Group,"Reporting to the General Manager – Western, yo..."

In [16]:
# count, tally and describe words in short_description

description_count_df = (first_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

In [17]:
description_count_df.head(30)

           vals  count
0            to     31
1           the     28
2           and     27
3           for     26
4             a     20
5          will     17
6           are     15
7            We     14
8            of     12
9           you     12
10           an     11
11          our     11
12           is     10
13           in     10
14           be      8
15         with      7
16      seeking      7
17      Manager      6
18         work      6
19         your      5
20          You      5
21         join      5
22           as      5
23  experienced      5
24      looking      5
25        in...      5
26          who      5
27       Health      4
28        their      4
29    currently      4

In [18]:
jora_df.dtypes

job_title            object
company_name         object
short_description    object
dtype: object

In [ ]:
# Save cleaned individual dataframes and final dataframe as csv files
jora_df.to_csv('w3/jora_scrape_data.csv')

In [ ]:
# import password and database name
from config import password, database_name

In [ ]:
# Create path to local database
protocol = 'postgresql'
username = 'postgres'
host = 'localhost'
port = 5432
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
# Check table names
insp.get_table_names()

In [ ]:
########### CREATE TABLES in SQL for Jora_Scrape and Seek_Scrape

In [ ]:
#  Use pandas to load jora scrape DataFrame into database
jora_df.to_sql('Jora_Scrape', con=engine, if_exists='append', index=False) ### same for seek

In [ ]:
# Confirm data has been added by querying the all tables
pd.read_sql_query('select * from "Jora_Scrape"', con=engine).head()