Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [4]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [5]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [6]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4','?page=5']

Scrape data

In [7]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

            job_counter += 1 
            
            job_title.append(soup('article')[i]['aria-label'])
            job_site.append("Seek.com.au")
            short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
            job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
            job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
            job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
            
            print('Jobs scraped: %d' % job_counter, end='\r')
            
            try:
                company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
            except:
                company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [147]:
###########################################################################

print(len(company_name))
print(len(job_title))
print(len(short_description))

491
491
491

In [148]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [149]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.reset_index(inplace=True)
seek_data_df.rename(columns= {'index':'job_id'}, inplace=True)
seek_data_df.tail(150)

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
341,341,Territory Manager,Euro Auctions,Major growth in the UK market has led to a vac...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
342,342,Relationship Manager - Premium Customers (WA) ...,sportsbet.com.au,As a Relationship Manager for our Premium team...,Perth WA,Sales,Account & Relationship Management,Seek.com.au
343,343,Territory Manager,Bega - Dairy and Drinks,"Join the Aussie Bega family, partnering yourse...",Fremantle & Southern Suburbs,Sales,Sales Representatives/Consultants,Seek.com.au
344,344,Territory Manager - WA,Brady Australia Pty Ltd,We are seeking an energetic and strategic Terr...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
345,345,Key Account Manager,Cleanaway Operations Pty Ltd,Provide key single point account management wi...,Malaga,Sales,Account & Relationship Management,Seek.com.au
...,...,...,...,...,...,...,...,...
486,486,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
487,487,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
488,488,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
489,489,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
490,490,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

---

## Create dataframes for tables

---

In [150]:
# Create job_id dataframe

job_id_df = seek_data_df[['job_id', 'job_classification', 'job_location']].copy()

# rename columns to match schema
job_id_df.rename(columns= {'job_classification':'job_field'}, inplace=True)


job_id_df

     job_id                         job_field                  job_location
0         0                      Construction  Fremantle & Southern Suburbs
1         1                      Construction              Cockburn Central
2         2                      Construction                     Rivervale
3         3                      Construction                      Perth WA
4         4                      Construction                        Myaree
..      ...                               ...                           ...
486     486  Community Services & Development                     Singleton
487     487  Community Services & Development                      Perth WA
488     488  Community Services & Development                    West Perth
489     489  Community Services & Development                      Wooroloo
490     490  Community Services & Development                      Perth WA

[491 rows x 3 columns]

### Count words to plot - All Employment Fields

In [151]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [152]:
seek_count = seek_count[seek_count['word'].str.len() > 4]
seek_count

             word  count
13    opportunity     79
18    experienced     53
19        looking     52
20        seeking     51
21        Manager     46
...           ...    ...
2347       centre      1
2348       areas)      1
2349      $25-$35      1
2351   efficient.      1
2352      (South)      1

[1939 rows x 2 columns]

In [153]:
seek_count.head(45)

            word  count
13   opportunity     79
18   experienced     53
19       looking     52
20       seeking     51
21       Manager     46
24         sales     44
27         Perth     40
29       Project     35
30      Engineer     34
34         their     29
35      projects     29
37         team.     28
38      exciting     26
39         based     26
41     motivated     24
42       project     24
43        career     22
45       Seeking     22
46       Medical     21
47        people     21
50       growing     21
52    experience     19
54        within     19
55         Sales     19
56       Western     18
57  construction     18
60         great     17
62       working     16
64       leading     16
67        skills     15
69     currently     14
70        health     14
71      business     14
72    management     14
73       Support     14
75      position     14
77     permanent     13
79       company     13
80        across     13
81    supportive     13
83  Construction     13
85         Great     13
86        highly     12
87   Development     12
88    Mechanical     12

### Count words to plot - Individual fields (Construction, Engineering, Healthcare, Sales, Community Services)

In [154]:
# Create DF for each job field

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

In [155]:
# create word count DF for each job field
# word cloud
# count, tally and describe words in short_description


# construction

construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# engineering

engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# healthcare

healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# sales

sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# community service
jobs_in_community_services_development_count = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [156]:
####### Test area - remove words less than or equal to 4 characters

community_services_development_count_df = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]
community_services_development_count_df

           word  count
5        people     15
9         their     14
13      Support     10
15   experience      8
16        Bring      7
..          ...    ...
422  Registered      1
424     Malaga,      1
425      impact      1
426    position      1
427       same!      1

[307 rows x 2 columns]

In [157]:
# remove words with less than 5 characters

construction_count = construction_count[construction_count['word'].str.len() > 4]
engineering_count = engineering_count[engineering_count['word'].str.len() > 4]
healthcare_medical_count = healthcare_medical_count[healthcare_medical_count['word'].str.len() > 4]
sales_count = sales_count[sales_count['word'].str.len() > 4]
jobs_in_community_services_development_words = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]

In [158]:
jobs_in_community_services_development_words

           word  count
5        people     15
9         their     14
13      Support     10
15   experience      8
16        Bring      7
..          ...    ...
422  Registered      1
424     Malaga,      1
425      impact      1
426    position      1
427       same!      1

[307 rows x 2 columns]

### Count locations to plot

-----

In [159]:
# seek_data_df
# jobs_in_community_services_development_df

In [160]:
# create df for location counts 
# heatmap plot

all_fields_locations = seek_data_df['job_location'].value_counts()
construction_locations = construction_df['job_location'].value_counts()
engineering_locations = engineering_df['job_location'].value_counts()
healthcare_medical_locations = healthcare_medical_df['job_location'].value_counts()
sales_locations = sales_df['job_location'].value_counts()
jobs_in_community_services_development_locations = jobs_in_community_services_development_df['job_location'].value_counts()

all_fields_locations_df = pd.DataFrame(all_fields_locations)
construction_locations_df = pd.DataFrame(construction_locations)
engineering_locations_df = pd.DataFrame(engineering_locations)
healthcare_medical_locations_df = pd.DataFrame(healthcare_medical_locations)
sales_locations_df = pd.DataFrame(sales_locations)
jobs_in_community_services_development_locations = pd.DataFrame(jobs_in_community_services_development_locations)

# sales_locations_df
# construction_locations_df
# healthcare_medical_locations_df
# sales_locations_df
jobs_in_community_services_development_locations

                   job_location
Perth WA                     16
Rockingham                    3
Cloverdale                    2
Fremantle                     2
Osborne Park                  2
Bayswater                     2
Rivervale                     2
Kwinana Beach                 2
Wooroloo                      1
Wanneroo                      1
Belmont                       1
Mosman Park                   1
Quinns Rocks                  1
Malaga                        1
Kalamunda                     1
Success                       1
Hilton                        1
Singleton                     1
Tuart Hill                    1
West Perth                    1
Joondalup                     1
Mirrabooka                    1
Claremont                     1
Mount Pleasant                1
Butler                        1
Alexander Heights             1
Balga                         1
Bentley                       1

In [161]:
# reset index for tables
all_fields_locations_df.reset_index(inplace=True)
sales_locations_df.reset_index(inplace=True)
construction_locations_df.reset_index(inplace=True)
healthcare_medical_locations_df.reset_index(inplace=True)
engineering_locations_df.reset_index(inplace=True)
jobs_in_community_services_development_locations.reset_index(inplace=True)

In [162]:
# rename columns to be more friendly
all_fields_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
construction_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
healthcare_medical_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
sales_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
jobs_in_community_services_development_locations.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df

                    job_location  count
0                       Perth WA     65
1                      Henderson      5
2                      Cottesloe      4
3                   Osborne Park      3
4                         Malaga      3
5                      Welshpool      3
6                      Hazelmere      3
7                        Belmont      2
8                     Rockingham      2
9   Fremantle & Southern Suburbs      2
10                     Bayswater      2
11                    West Perth      2
12                    Bassendean      1
13                  Canning Vale      1
14                    Bibra Lake      1
15                       Midland      1
16                       Kewdale      1
17                     Fremantle      1
18               North Fremantle      1
19                  High Wycombe      1
20                    Maddington      1
21                 Kwinana Beach      1
22          Rockingham & Kwinana      1
23                    East Perth      1
24                   Leederville      1
25                       Bentley      1

In [163]:
# seek_csv_data = seek_count.to_csv('seek_count.csv', index = True)
# print('\nCSV String:\n', seek_csv_data)

------

In [164]:
# skills count? 
# for dendograms

###### just use the same data as word cloud

### Connect to postgres and load data to db

-----

In [165]:
# MOVE TO TOP BEFORE SUBMITTING

from api_keys import postgres_p
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [166]:
protocol = 'postgresql'
username = 'postgres'
password = postgres_p

host = 'localhost'

port = 5432

database_name = 'Project_3'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

insp.get_table_names()

['job_id',
 'construction_scrapes',
 'engineering_scrapes',
 'healthcare_scrapes',
 'sales_scrapes',
 'community_service_scrapes',
 'allfields_location_count',
 'construction_location_count',
 'engineering_location_count',
 'healthcare_location_count',
 'sales_location_count',
 'community_services_location_count',
 'sales_word_count',
 'community_services_word_count',
 'healthcare_word_count',
 'construction_word_count',
 'engineering_word_count',
 'all_fields_word_count',
 'community_service_count']

In [167]:
jobs_in_community_services_development_df

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
440,440,APS5 Remote Support & Coordination - Affirmati...,National Disability Insurance Scheme,The National Remote Services Branch responsibi...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
441,441,Job Coach - Wanneroo,atWork Australia,We have an exciting opportunity to join our Jo...,Wanneroo,Community Services & Development,Employment Services,Seek.com.au
442,442,Employability Skills Trainer (Perth South),Training Alliance Group,Support job seekers aged 15 and over in Perth ...,Fremantle,Community Services & Development,Employment Services,Seek.com.au
443,443,Employability Skills Trainer (Perth North),Training Alliance Group,Support job seekers aged 15 and over in the Pe...,Mirrabooka,Community Services & Development,Employment Services,Seek.com.au
444,444,Recruiters Seeking A Change,CCIWA,Passionate about assisting young people to sta...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
445,445,Community Support Workers,Vitil,Looking for a rewarding job supporting our eld...,Mount Pleasant,Community Services & Development,Aged & Disability Support,Seek.com.au
446,446,Employer Engagement Partner,genU,Bring your passion for community and assist Jo...,Kwinana Beach,Community Services & Development,Employment Services,Seek.com.au
447,447,Philanthropy & Partnerships Manager,RSPCA WA,Great opportunity for a Philanthropy specialis...,Malaga,Community Services & Development,Fundraising,Seek.com.au
448,448,Safety and Support Officer,Uniting WA,Fantastic opportunity to work in a collaborati...,Perth WA,Community Services & Development,Housing & Homelessness Services,Seek.com.au
449,449,Duty Social Worker - Foster Care- PT - Fterm ...,Wanslea Ltd,Duty Social Worker - Foster Care- Part Time -...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
450,450,Family Support Worker - Foster Care - Cloverdale,Wanslea Ltd,If your passionate about high quality support ...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
451,451,CLIENT ADVISOR,ECHO Community Services,Care Coordinator,Bayswater,Community Services & Development,Aged & Disability Support,Seek.com.au
452,452,Employment Services Consultant,WorkFocus Australia,Join our team in Perth! Our goal is to seamles...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
453,453,Employment Consultant,genU,Bring your passion for community and assist Jo...,Fremantle,Community Services & Development,Employment Services,Seek.com.au
454,454,Customer Service Officer,genU,Put your administration and customer service s...,Kwinana Beach,Community Services & Development,Employment Services,Seek.com.au
455,455,Employment Consultant,genU,"Bring your passion for community & join a fun,...",Rockingham,Community Services & Development,Employment Services,Seek.com.au
456,456,Support Worker/ Mentor,NaN,Supporting a 15 year old autistic boy.\nFun an...,Balga,Community Services & Development,Aged & Disability Support,Seek.com.au
457,457,Job Coach - Joondalup,atWork Australia,Generate meaningful employment opportunities f...,Joondalup,Community Services & Development,Employment Services,Seek.com.au
458,458,Job Coach - Alexander Heights,atWork Australia,Bring your passion and customer service experi...,Alexander Heights,Community Services & Development,Employment Services,Seek.com.au
459,459,Employment Support Consultant,Maxima Training Group (Aust) Ltd.,Support Customers on the job and liaise with e...,Belmont,Community Services & Development,Employment Services,Seek.com.au
460,460,Disability Mentor/Support Worker,Mighty Mentors,If you like the idea of combining work and lei...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
461,461,Disability Support Worker,Workpower Incorporated,As a Community Support Coach no day is ever th...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
462,462,Aboriginal Services Coordinator,Henderson Healthcare,"Permanent, full time position available for an...",Perth WA,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
463,463,Positive Behaviour Practitioner,Henderson Healthcare,We have an opportunity available for a Registe...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
464,464,Community Support Worker,Autism Association of WA (Inc),"Supporting individuals in the community, at wo...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
465,465,Innovative Employment Advisor - Disability,Valued Lives Foundation,We are expanding and seeking Innovative Employ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
466,466,Security Officer / Ranger (Casual),City of Bayswater,"Security Officer, Ranger, Local Government, Co...",Bayswater,Community Services & Development,Community Development,Seek.com.au
467,467,Support Worker - Butler,Avivo,"Avivo Support Workers work alongside people, f...",Butler,Community Services & Development,Aged & Disability Support,Seek.com.au
468,468,Support Worker - Tuart Hill,Avivo,"Avivo Support Workers work alongside people, f...",Tuart Hill,Community Services & Development,Aged & Disability Support,Seek.com.au
469,469,Support Workers,Aberstone Community Services,Enjoy a meaningful role supporting your local ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
470,470,Home Care Clinical Coordinator,Southern Cross Care (WA) Inc.,Bring your clinical experience in a home care ...,Rivervale,Community Services & Development,Aged & Disability Support,Seek.com.au
471,471,Respite Centre Coordinator,Southern Cross Care (WA) Inc.,Join a rewarding career in Community services ...,Rivervale,Community Services & Development,Management,Seek.com.au
472,472,Disability Support Worker - Mosman Park,Avivo,Avivo Support Workers work alongside people fr...,Mosman Park,Community Services & Development,Aged & Disability Support,Seek.com.au
473,473,Playgroup Support Worker - Boronia,YMCA WA,The Y WA requires a Casual Playgroup Support W...,Bentley,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
474,474,Assurance and Compliance Officer WA - Pacific ...,Palladium International Pty Ltd -Pacific Labou...,An opportunity to be a part of a positive impa...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
475,475,Support Worker - Perth City,Avivo,"Our Support Workers work alongside people, fro...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
476,476,Support worker - Rockingham & Surrounds,Avivo,Love benefits such as a great work life balanc...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
477,477,Senior Recovery Partner,Southern Cross Care (WA) Inc.,"People who work in aged care are special, and ...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
478,478,High care Support Worker - Claremont & Floreat,Avivo,"Avivo supports people with a disability, peopl...",Claremont,Community Services & Development,Aged & Disability Support,Seek.com.au
479,479,Support Worker - Forrestfield & Kalamunda,Avivo,"Avivo supports people with a disability, peopl...",Kalamunda,Community Services & Development,Aged & Disability Support,Seek.com.au
480,480,Support Worker,Southern Cross Care (WA) Inc.,Join a rewarding career with a flexible workin...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
481,481,Care Worker,Southern Cross Care (WA) Inc.,Deliver a high standard of person-centered car...,Success,Community Services & Development,Aged & Disability Support,Seek.com.au
482,482,Support Worker - Respite Centre,Southern Cross Care (WA) Inc.,Come help make a difference in our client live...,Hilton,Community Services & Development,Aged & Disability Support,Seek.com.au
483,483,Support Worker - Quinns Rocks,Avivo,"Avivo supports people with a disability, peopl...",Quinns Rocks,Community Services & Development,Aged & Disability Support,Seek.com.au
484,484,Support Worker,Southern Cross Care (WA) Inc.,Join a rewarding career with a flexible workin...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
485,485,ParentsNext - Engagement Officer,Training Alliance Group,Support parents with young children in identif...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
486,486,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
487,487,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
488,488,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
489,489,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
490,490,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

In [176]:
# load to database

# Job_ID Table

job_id_df.to_sql(name='job_id', con=engine, if_exists='append', index=False)

## Scraped job Tables

construction_df.to_sql(name='construction_scrapes', con=engine, if_exists='append', index=False)
engineering_df.to_sql(name='engineering_scrapes', con=engine, if_exists='append', index=False)
healthcare_medical_df.to_sql(name='healthcare_scrapes', con=engine, if_exists='append', index=False)
sales_df.to_sql(name='sales_scrapes', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_df.to_sql(name='community_service_scrapes', con=engine, if_exists='append', index=False)

# ## Word Tables

construction_count.to_sql(name='construction_word_count', con=engine, if_exists='append', index=False)
engineering_count.to_sql(name='community_service_count', con=engine, if_exists='append', index=False)
healthcare_medical_count.to_sql(name='healthcare_word_count', con=engine, if_exists='append', index=False)
sales_count.to_sql(name='sales_word_count', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_words.to_sql(name='community_services_word_count', con=engine, if_exists='append', index=False)

# ## Location Tables

all_fields_locations_df.to_sql(name='allfields_location_count', con=engine, if_exists='append', index=False)
engineering_locations_df.to_sql(name='engineering_location_count', con=engine, if_exists='append', index=False)
construction_locations_df.to_sql(name='construction_location_count', con=engine, if_exists='append', index=False)
healthcare_medical_locations_df.to_sql(name='healthcare_location_count', con=engine, if_exists='append', index=False)
sales_locations_df.to_sql(name='sales_location_count', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_locations.to_sql(name='community_services_location_count', con=engine, if_exists='append', index=False)

In [177]:
pd.read_sql_query('select * from Construction_Word_Count', con=engine).head(15)

            word  count
0    opportunity     18
1    experienced     17
2        seeking     17
3   construction     15
4        Manager     13
5       projects     12
6        Project     12
7        looking     11
8        project     10
9   Construction     10
10         based      8
11    commercial      8
12      building      7
13         team.      7
14     projects.      7

In [178]:
pd.read_sql_query('select * from allfields_location_count', con=engine).head(15)

                    job_location  count
0                       Perth WA    217
1                   Osborne Park     21
2                     West Perth     15
3                         Malaga     12
4   Fremantle & Southern Suburbs     10
5                     Rockingham     10
6                      Bayswater      8
7                      Welshpool      8
8                        Wangara      7
9                       Balcatta      7
10                       Subiaco      7
11                  Canning Vale      6
12                     Henderson      6
13                       Belmont      6
14                    Bibra Lake      5