Import Depencies

In [6]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [7]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [8]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [9]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [10]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [11]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4']

Scrape data

In [12]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

                    job_counter += 1 
                    
                    job_title.append(soup('article')[i]['aria-label'])
                    job_site.append("Seek.com.au")
                    short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
                    job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
                    job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
                    job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
                    
                    print('Jobs scraped: %d' % job_counter, end='\r')
                    
                    try:
                        company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
                    except:
                        company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [13]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

403
403
403

In [14]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [15]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
0,Graduate Construction/Property Program 2023,Proforce,Seeking an entry-level position with a well-es...,Fremantle & Southern Suburbs,Construction,Project Management,Seek.com.au
1,Operations Manager,Grounded Construction Group,At grounded we are on the hunt for a experienc...,West Perth,Construction,Management,Seek.com.au
2,Residential Building Estimator/Scheduler,NaN,Building Estimator: An opportunity exists for ...,Rivervale,Construction,Estimating,Seek.com.au
3,Construction Site Supervisor / Site Manager - ...,Summit Homes Group,Construction Supervisor/Site Manager: very com...,Perth WA,Construction,Foreperson/Supervisors,Seek.com.au
4,Trainee Supervisor,Summit Homes Group,We have an exciting and rare opportunity to jo...,Myaree,Construction,Foreperson/Supervisors,Seek.com.au
...,...,...,...,...,...,...,...
398,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
399,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
400,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
401,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
402,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

### Count words to plot

-----

In [16]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

In [18]:
seek_count.head(45)

            vals  count
0            and    262
1              a    247
2             to    243
3             in    167
4            for    165
5            the    163
6            our    133
7             of    128
8           join     86
9           with     84
10            an     81
11          team     79
12   opportunity     69
13           are     62
14          your     57
15            We     56
16            is     54
17       looking     42
18             &     40
19   experienced     40
20       Manager     40
21          work     39
22       seeking     36
23             |     36
24            at     36
25          Join     36
26         Perth     36
27            on     35
28       Project     31
29         sales     30
30           you     30
31      Engineer     29
32             -     27
33          have     27
34          role     26
35         their     25
36      projects     23
37      exciting     23
38       project     21
39            be     21
40         team.     20
41    experience     20
42       Medical     19
43  construction     18
44        career     18

In [19]:
# create word count for each job type
# word cloud

In [ ]:
# grouped df by location count
# heat map

In [ ]:
# skills count? 
# for dendograms

### Create dataframes for tables

-----

### Connect to postgres and load data to db

-----