Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

Scrape the website

In [4]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of job fields

In [5]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales']

Scrape data

In [6]:
for x in job_field: 
    
    url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, features='html.parser')
    jobs_on_page = soup('article')
        
    for i in range(len(jobs_on_page)):

                job_counter += 1 
                
                job_title.append(soup('article')[i]['aria-label'])
                job_site.append("Seek.com.au")
                short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
                job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
                job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
                job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
                
                print('Jobs scraped: %d' % job_counter, end='\r')
                
                try:
                    company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
                except:
                    company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [7]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

88
88
88

In [8]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [11]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
0,Graduate Construction/Property Program 2023,Proforce,Seeking an entry-level position with a well-es...,Fremantle & Southern Suburbs,Construction,Project Management,Seek.com.au
1,Precast Concrete Production Supervisor,Cascada,We're looking for a leader with concrete exper...,Malaga,Construction,Foreperson/Supervisors,Seek.com.au
2,Residential Building Estimator/Scheduler,NaN,Building Estimator: An opportunity exists for ...,Rivervale,Construction,Estimating,Seek.com.au
3,Construction Site Supervisor / Site Manager - ...,Summit Homes Group,Construction Supervisor/Site Manager: very com...,Perth WA,Construction,Foreperson/Supervisors,Seek.com.au
4,Trainee Supervisor,Summit Homes Group,We have an exciting and rare opportunity to jo...,Myaree,Construction,Foreperson/Supervisors,Seek.com.au
...,...,...,...,...,...,...,...
83,Key Account Manager - National Strategy & Deve...,Alcolizer Pty Ltd,Can you develop strategic sales plans to grow ...,Balcatta,Sales,Account & Relationship Management,Seek.com.au
84,BUSINESS DEVELOPMENT MANAGER,APC Group,We are offering a Business Development Manager...,Bassendean,Sales,New Business Development,Seek.com.au
85,Territory Manager - WA,Brady Australia Pty Ltd,We are seeking an energetic and strategic Terr...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
86,Key Account Manager,Cleanaway Operations Pty Ltd,Provide key single point account management wi...,Malaga,Sales,New Business Development,Seek.com.au
87,Sales Representative,Braeco Sales,Join a family-owned company that provides oppo...,Osborne Park,Sales,Sales Representatives/Consultants,Seek.com.au

### Count words to plot

-----

In [14]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

In [15]:
seek_count

           vals  count
0            to     63
1           and     52
2            in     45
3             a     43
4           the     39
..          ...    ...
659         WA,      1
660  Structural      1
661   reputable      1
662     Piping,      1
663      starts      1

[664 rows x 2 columns]

### Create dataframes for tables

-----

### Connect to postgres and load data to db

-----