Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [4]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [5]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [6]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4']

Scrape data

In [7]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

            job_counter += 1 
            
            job_title.append(soup('article')[i]['aria-label'])
            job_site.append("Seek.com.au")
            short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
            job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
            job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
            job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
            
            print('Jobs scraped: %d' % job_counter, end='\r')
            
            try:
                company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
            except:
                company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [8]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

403
403
403

In [9]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [10]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.tail(150)

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
253,Medical Receptionist,NaN,"A brilliant opportunity for a friendly, effici...",Mindarie,Healthcare & Medical,Medical Administration,Seek.com.au
254,PACS Image Coordinator,Perth Radiological Clinic,PACS \r\nIT\r\nFull-time\r\nHealthcare,Subiaco,Healthcare & Medical,Medical Administration,Seek.com.au
255,Front Office/Admission Clerk,South Perth Hospital,South Perth Hospital is seeking experienced cl...,South Perth,Healthcare & Medical,Medical Administration,Seek.com.au
256,Chiropractic Assistant/Marketing genius,ChiropracticHUB,We are looking for a bubbly and enthusiastic p...,Bibra Lake,Healthcare & Medical,Chiropractic & Osteopathic,Seek.com.au
257,Receptionist,Perth Brain Centre,This dynamic and rewarding position will invol...,Attadale,Healthcare & Medical,Medical Administration,Seek.com.au
...,...,...,...,...,...,...,...
398,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
399,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
400,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
401,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
402,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

### Count words to plot

-----

In [11]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [12]:
seek_count.head(45)

           word  count
0           and    256
1            to    253
2             a    247
3           for    170
4            in    169
5           the    161
6           our    134
7            of    128
8          join     86
9            an     84
10         team     84
11         with     82
12  opportunity     71
13          are     60
14         your     60
15           We     56
16           is     56
17            &     48
18      looking     46
19      Manager     44
20           at     40
21         work     38
22  experienced     37
23         Join     35
24      seeking     35
25        Perth     34
26           on     34
27      Project     34
28          you     32
29        sales     31
30     Engineer     29
31            |     28
32            -     26
33         have     25
34     exciting     25
35     projects     24
36        their     24
37           be     23
38         role     23
39   experience     20
40      project     20
41       people     19
42           An     19
43           as     19
44        team.     19

In [43]:
# Create word count for each job field

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

In [49]:
# create word count for each job type
# word cloud
# count, tally and describe words in short_description


# construction
construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
jobs_in_community_services_development_count = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))



jobs_in_community_services_development_count

          word  count
0          and     41
1            a     41
2           to     28
3           in     25
4          the     17
..         ...    ...
423  Fantastic      1
424      Care-      1
425         or      1
426      rates      1
427         be      1

[428 rows x 2 columns]

In [47]:
####### Test area - remove words less than or equal to 4 characters

community_services_development_count_df = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]
community_services_development_count_df

In [50]:
# remove words with less than 5 characters

construction_count = construction_count[construction_count['word'].str.len() > 4]
engineering_count = engineering_count[engineering_count['word'].str.len() > 4]
healthcare_medical_count = healthcare_medical_count[healthcare_medical_count['word'].str.len() > 4]
sales_count = sales_count[sales_count['word'].str.len() > 4]
jobs_in_community_services_development_count = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]

In [55]:
jobs_in_community_services_development_count

           word  count
5        people     15
6         their     14
13      Support     10
15   experience      8
16        Bring      7
..          ...    ...
420      bubbly      1
421  Passionate      1
423   Fantastic      1
424       Care-      1
426       rates      1

[307 rows x 2 columns]

### Count locations to plot

-----

In [51]:
# create df for location counts 
# heatmap plot

construction_locations = construction_df['job_location'].value_counts()
engineering_locations = engineering_df['job_location'].value_counts()
healthcare_medical_locations = healthcare_medical_df['job_location'].value_counts()
sales_locations = sales_df['job_location'].value_counts()
jobs_in_community_services_development_locations = jobs_in_community_services_development_df['job_location'].value_counts()

construction_locations_df = pd.DataFrame(construction_locations)
engineering_locations_df = pd.DataFrame(engineering_locations)
healthcare_medical_locations_df = pd.DataFrame(healthcare_medical_locations)
sales_locations_df = pd.DataFrame(sales_locations)
jobs_in_community_services_development_df = pd.DataFrame(jobs_in_community_services_development_locations)

# sales_locations_df
# construction_locations_df
# healthcare_medical_locations_df
# sales_locations_df
jobs_in_community_services_development_df

                   job_location
Perth WA                     16
Rockingham                    3
Kwinana Beach                 2
Rivervale                     2
Bayswater                     2
Cloverdale                    2
Fremantle                     2
Osborne Park                  2
Wanneroo                      1
West Perth                    1
Butler                        1
Joondalup                     1
Wooroloo                      1
Balga                         1
Belmont                       1
Success                       1
Malaga                        1
Alexander Heights             1
Mirrabooka                    1
Claremont                     1
Mosman Park                   1
Mount Pleasant                1
Kalamunda                     1
Bentley                       1
Quinns Rocks                  1
Tuart Hill                    1
Singleton                     1
Hilton                        1

In [52]:
# reset index for tables
sales_locations_df.reset_index(inplace=True)
construction_locations_df.reset_index(inplace=True)
healthcare_medical_locations_df.reset_index(inplace=True)
engineering_locations_df.reset_index(inplace=True)
jobs_in_community_services_development_df.reset_index(inplace=True)

In [53]:
# rename columns to be more friendly
engineering_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
construction_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
healthcare_medical_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
sales_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
jobs_in_community_services_development_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
engineering_locations_df

                        Location  Count
0                       Perth WA     50
1                      Cottesloe      4
2                      Welshpool      3
3                     Rockingham      3
4                      Henderson      3
5                      Hazelmere      3
6                   Osborne Park      3
7                         Malaga      2
8                        Belmont      2
9                        Kewdale      2
10                     Bayswater      2
11                    West Perth      2
12                    Bassendean      1
13                    Bibra Lake      1
14                  High Wycombe      1
15                   Leederville      1
16                  Canning Vale      1
17                     Fremantle      1
18                       Midland      1
19  Fremantle & Southern Suburbs      1
20               North Fremantle      1

In [54]:
seek_csv_data = seek_count.to_csv('seek_count.csv', index = True)
print('\nCSV String:\n', seek_csv_data)

PermissionError: [Errno 13] Permission denied: 'seek_count.csv'

In [ ]:
# skills count? 
# for dendograms

### Create dataframes for tables

-----

### Connect to postgres and load data to db

-----

In [25]:
from api_keys import postgres_p
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [26]:
protocol = 'postgresql'
username = 'postgres'
password = postgres_p

host = 'localhost'

port = 5432

database_name = 'Project_3'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)