Import Depencies

In [12]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [13]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [14]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

Scrape the website

In [15]:
url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
response = requests.get(url)
soup = BeautifulSoup(response.content, features='html.parser')
jobs_on_page = soup('article')

Create list of job fields

In [16]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales']

Scrape data

In [17]:
for x in job_field: 
    
    url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, features='html.parser')
    jobs_on_page = soup('article')
        
    for i in range(len(jobs_on_page)):

                job_counter += 1 
                
                job_title.append(soup('article')[i]['aria-label'])
                job_site.append("Seek.com.au")
                short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
                job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
                job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
                job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
                
                print('Jobs scraped: %d' % job_counter, end='\r')
                
                try:
                    company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
                except:
                    company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [18]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

88
88
88

In [24]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [25]:
seek_data_df = pd.DataFrame(first_data)
seek_data_df

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
0,Precast Concrete Production Supervisor,Cascada,We're looking for a leader with concrete exper...,Malaga,Construction,Foreperson/Supervisors,Seek.com.au
1,Operations Manager,Grounded Construction Group,At grounded we are on the hunt for a experienc...,West Perth,Construction,Management,Seek.com.au
2,Residential Building Estimator/Scheduler,NaN,Building Estimator: An opportunity exists for ...,Rivervale,Construction,Estimating,Seek.com.au
3,Trainee Supervisor,Summit Homes Group,We have an exciting and rare opportunity to jo...,Myaree,Construction,Foreperson/Supervisors,Seek.com.au
4,New Home Administrator,JWH Group Pty Ltd,Residential Attitudes is seeking an ambitious ...,Osborne Park,Construction,Contracts Management,Seek.com.au
...,...,...,...,...,...,...,...
83,Territory Account Manager - Civil /Construction,Position Partners P/L,Position Partners is looking for 2 Territory A...,Balcatta,Sales,New Business Development,Seek.com.au
84,Account Manager,Fletcher Building Australia,Join our sales team in Perth! Hybrid Working!,Maddington,Sales,Account & Relationship Management,Seek.com.au
85,Regional Sales Manager,Onsite Rental Group,Continue great customer relationships and deli...,Perth WA,Sales,Management,Seek.com.au
86,Sales & Account Manager,Bloem,Leading role for experienced Sales Account & R...,Perth WA,Sales,Account & Relationship Management,Seek.com.au
87,Business Development Executive,Quest Fremantle,Business Development Executive\nQuest Fremantle,Fremantle,Sales,New Business Development,Seek.com.au

### Count words to plot

-----

In [26]:
# count, tally and describe words in short_description

seek_count = (first_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

In [27]:
seek_count

            vals  count
0            and     56
1              a     53
2             to     53
3            the     41
4             in     38
..           ...    ...
697      studies      1
698          any      1
699  Kalgoorlie.      1
700  Contractor.      1
701     ambition      1

[702 rows x 2 columns]

### Create dataframes for tables

-----

### Connect to postgres and load data to db

-----