Import Depencies

In [6]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [7]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [8]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [9]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [10]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [11]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4']

Scrape data

In [12]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

                    job_counter += 1 
                    
                    job_title.append(soup('article')[i]['aria-label'])
                    job_site.append("Seek.com.au")
                    short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
                    job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
                    job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
                    job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
                    
                    print('Jobs scraped: %d' % job_counter, end='\r')
                    
                    try:
                        company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
                    except:
                        company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [13]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

403
403
403

In [14]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [58]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.tail(150)

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
253,PACS Image Coordinator,Perth Radiological Clinic,PACS \r\nIT\r\nFull-time\r\nHealthcare,Subiaco,Healthcare & Medical,Medical Administration,Seek.com.au
254,Front Office/Admission Clerk,South Perth Hospital,South Perth Hospital is seeking experienced cl...,South Perth,Healthcare & Medical,Medical Administration,Seek.com.au
255,Chiropractic Assistant/Marketing genius,ChiropracticHUB,We are looking for a bubbly and enthusiastic p...,Bibra Lake,Healthcare & Medical,Chiropractic & Osteopathic,Seek.com.au
256,Receptionist,Perth Brain Centre,This dynamic and rewarding position will invol...,Attadale,Healthcare & Medical,Medical Administration,Seek.com.au
257,Medical Receptionist,Highland Medical Centre,"Provide a high-quality, confidential, receptio...",Madeley,Healthcare & Medical,Medical Administration,Seek.com.au
...,...,...,...,...,...,...,...
398,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
399,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
400,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
401,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
402,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

### Count words to plot

-----

In [22]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [23]:
seek_count.head(45)

            word  count
0            and    262
1              a    247
2             to    243
3             in    167
4            for    165
5            the    163
6            our    133
7             of    128
8           join     86
9           with     84
10            an     81
11          team     79
12   opportunity     69
13           are     62
14          your     57
15            We     56
16            is     54
17       looking     42
18             &     40
19   experienced     40
20       Manager     40
21          work     39
22       seeking     36
23             |     36
24            at     36
25          Join     36
26         Perth     36
27            on     35
28       Project     31
29         sales     30
30           you     30
31      Engineer     29
32             -     27
33          have     27
34          role     26
35         their     25
36      projects     23
37      exciting     23
38       project     21
39            be     21
40         team.     20
41    experience     20
42       Medical     19
43  construction     18
44        career     18

In [65]:
# Create word count for each job field
# job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

# healthcare_medical_df
# construction_df
engineering_df

,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
88,Project Engineer,Town of Cottesloe,An exciting permanent opportunity for an exper...,Cottesloe,Engineering,Project Engineering,Seek.com.au
89,Head of Mechanical Design & Engineering,Jevons Robotics,Want to make the world a safer and happier place?,Perth WA,Engineering,Mechanical Engineering,Seek.com.au
90,Graduate Engineer - Intelligent Operations,Wood.,Wood is seeking a Graduate Engineer to join ou...,Perth WA,Engineering,Process Engineering,Seek.com.au
91,Mechanical Engineer,Technical Resources Pty Ltd,Mechanical Engineer experienced in pump sizing...,Perth WA,Engineering,Mechanical Engineering,Seek.com.au
92,Mechanical Engineer,Sedgman Limited,"Due to continued success, Sedgman in Perth is ...",Perth WA,Engineering,Materials Handling Engineering,Seek.com.au
...,...,...,...,...,...,...,...
171,Controls & Automation Engineer,NaN,Transmin is a world-class provider of innovati...,Malaga,Engineering,Electrical/Electronic Engineering,Seek.com.au
172,Mechanical Engineer - STK6 Shutdown,Goodline,Goodline require mechanical engineers to join ...,Perth WA,Engineering,Mechanical Engineering,Seek.com.au
173,Graduate Automation Engineer,Brunel,Graduate Role | Permanent Role | Attractive Sa...,Perth WA,Engineering,Automotive Engineering,Seek.com.au
174,Defence project manager and technical advisor,Energetics Pty Ltd,Support and project manage energy infrastructu...,Perth WA,Engineering,Project Management,Seek.com.au
175,Project Engineer - Perth Based,Como Engineers Pty Ltd,(Perth Based),West Perth,Engineering,Project Engineering,Seek.com.au

In [67]:
# create word count for each job type
# word cloud
# count, tally and describe words in short_description
# job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']


# construction
construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# construction
jobs_in_community_services_development = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))



healthcare_medical_count

         word  count
0         and     55
1           a     53
2         for     40
3          to     39
4         our     39
..        ...    ...
637    Better      1
638  ambition      1
639   Looking      1
640     APPLY      1
641    values      1

[642 rows x 2 columns]

In [ ]:
# grouped df by location count
# heat map

In [ ]:
# skills count? 
# for dendograms

### Create dataframes for tables

-----

### Connect to postgres and load data to db

-----