Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [4]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [5]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [6]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4','?page=5']

Scrape data

In [7]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

            job_counter += 1 
            
            job_title.append(soup('article')[i]['aria-label'])
            job_site.append("Seek.com.au")
            short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
            job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
            job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
            job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
            
            print('Jobs scraped: %d' % job_counter, end='\r')
            
            try:
                company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
            except:
                company_name.append(np.nan)

-------

## Columns 

1.	Job title
2.	Company
3.	Description
4.	Location

In [99]:
###########################################################################

print(len(company_name))
print(len(job_title))
print(len(short_description))

403
403
403

In [100]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [101]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.reset_index(inplace=True)
seek_data_df.rename(columns= {'index':'job_id'}, inplace=True)
seek_data_df.tail(150)

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
253,253,Medical Receptionist,NaN,"A brilliant opportunity for a friendly, effici...",Mindarie,Healthcare & Medical,Medical Administration,Seek.com.au
254,254,PACS Image Coordinator,Perth Radiological Clinic,PACS \r\nIT\r\nFull-time\r\nHealthcare,Subiaco,Healthcare & Medical,Medical Administration,Seek.com.au
255,255,Front Office/Admission Clerk,South Perth Hospital,South Perth Hospital is seeking experienced cl...,South Perth,Healthcare & Medical,Medical Administration,Seek.com.au
256,256,Chiropractic Assistant/Marketing genius,ChiropracticHUB,We are looking for a bubbly and enthusiastic p...,Bibra Lake,Healthcare & Medical,Chiropractic & Osteopathic,Seek.com.au
257,257,Receptionist,Perth Brain Centre,This dynamic and rewarding position will invol...,Attadale,Healthcare & Medical,Medical Administration,Seek.com.au
...,...,...,...,...,...,...,...,...
398,398,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
399,399,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
400,400,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
401,401,"Employment Mentor, Acacia Prison",Waalitj Foundation,We're looking for a passionate Employment Ment...,Wooroloo,Community Services & Development,Indigenous & Multicultural Services,Seek.com.au
402,402,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

---

## Create dataframes for tables

---

### Count words to plot - All Employment Fields

In [102]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [103]:
seek_count = seek_count[seek_count['word'].str.len() > 4]
seek_count

              word  count
12     opportunity     71
18         looking     46
19         Manager     44
22     experienced     37
24         seeking     35
...            ...    ...
2048         Front      1
2050  Psychologist      1
2051     materials      1
2052      national      1
2054         We’re      1

[1688 rows x 2 columns]

In [104]:
seek_count.head(45)

            word  count
12   opportunity     71
18       looking     46
19       Manager     44
22   experienced     37
24       seeking     35
25         Perth     34
27       Project     34
29         sales     31
30      Engineer     29
34      exciting     25
35      projects     24
36         their     24
39    experience     20
40       project     20
41        people     19
44         team.     19
45     motivated     18
46       Western     18
48       growing     18
50       Medical     18
51        career     17
52         based     17
55        within     15
56  construction     15
57       Seeking     15
61      customer     14
62       working     14
63       leading     14
64       Support     14
66         Sales     14
67    management     13
69        driven     13
70         great     13
71        across     12
74       company     12
76    supportive     11
77  enthusiastic     11
78        health     11
81        highly     11
82        skills     11
86    commercial     10
87       support     10
89         Great     10
90      position     10
96      building      9

### Count words to plot - Individual fields (Construction, Engineering, Healthcare, Sales, Community Services)

In [113]:
# Create DF for each job field

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

In [114]:
# create word count DF for each job field
# word cloud
# count, tally and describe words in short_description


# construction

construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# engineering

engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# healthcare

healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# sales

sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# community service
jobs_in_community_services_development_count = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [115]:
####### Test area - remove words less than or equal to 4 characters

community_services_development_count_df = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]
community_services_development_count_df

           word  count
5        people     15
6         their     14
13      Support     10
15   experience      8
16        Bring      7
..          ...    ...
420      bubbly      1
421  Passionate      1
423   Fantastic      1
424       Care-      1
426       rates      1

[307 rows x 2 columns]

In [116]:
# remove words with less than 5 characters

construction_count = construction_count[construction_count['word'].str.len() > 4]
engineering_count = engineering_count[engineering_count['word'].str.len() > 4]
healthcare_medical_count = healthcare_medical_count[healthcare_medical_count['word'].str.len() > 4]
sales_count = sales_count[sales_count['word'].str.len() > 4]
jobs_in_community_services_development_count = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]

In [117]:
jobs_in_community_services_development_count

           word  count
5        people     15
6         their     14
13      Support     10
15   experience      8
16        Bring      7
..          ...    ...
420      bubbly      1
421  Passionate      1
423   Fantastic      1
424       Care-      1
426       rates      1

[307 rows x 2 columns]

### Count locations to plot

-----

In [118]:
# seek_data_df
# jobs_in_community_services_development_df

In [119]:
# create df for location counts 
# heatmap plot

all_fields_locations = seek_data_df['job_location'].value_counts()
construction_locations = construction_df['job_location'].value_counts()
engineering_locations = engineering_df['job_location'].value_counts()
healthcare_medical_locations = healthcare_medical_df['job_location'].value_counts()
sales_locations = sales_df['job_location'].value_counts()
jobs_in_community_services_development_locations = jobs_in_community_services_development_df['job_location'].value_counts()

all_fields_locations_df = pd.DataFrame(all_fields_locations)
construction_locations_df = pd.DataFrame(construction_locations)
engineering_locations_df = pd.DataFrame(engineering_locations)
healthcare_medical_locations_df = pd.DataFrame(healthcare_medical_locations)
sales_locations_df = pd.DataFrame(sales_locations)
jobs_in_community_services_development_df = pd.DataFrame(jobs_in_community_services_development_locations)

# sales_locations_df
# construction_locations_df
# healthcare_medical_locations_df
# sales_locations_df
jobs_in_community_services_development_df

                   job_location
Perth WA                     16
Rockingham                    3
Kwinana Beach                 2
Rivervale                     2
Bayswater                     2
Cloverdale                    2
Fremantle                     2
Osborne Park                  2
Wanneroo                      1
West Perth                    1
Butler                        1
Joondalup                     1
Wooroloo                      1
Balga                         1
Belmont                       1
Success                       1
Malaga                        1
Alexander Heights             1
Mirrabooka                    1
Claremont                     1
Mosman Park                   1
Mount Pleasant                1
Kalamunda                     1
Bentley                       1
Quinns Rocks                  1
Tuart Hill                    1
Singleton                     1
Hilton                        1

In [120]:
# reset index for tables
all_fields_locations_df.reset_index(inplace=True)
sales_locations_df.reset_index(inplace=True)
construction_locations_df.reset_index(inplace=True)
healthcare_medical_locations_df.reset_index(inplace=True)
engineering_locations_df.reset_index(inplace=True)
jobs_in_community_services_development_df.reset_index(inplace=True)

In [121]:
# rename columns to be more friendly
all_fields_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
engineering_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
construction_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
healthcare_medical_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
sales_locations_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
jobs_in_community_services_development_df.rename(columns= {'index':'Location', 'job_location':'Count'}, inplace=True)
engineering_locations_df

                        Location  Count
0                       Perth WA     50
1                      Cottesloe      4
2                      Welshpool      3
3                     Rockingham      3
4                      Henderson      3
5                      Hazelmere      3
6                   Osborne Park      3
7                         Malaga      2
8                        Belmont      2
9                        Kewdale      2
10                     Bayswater      2
11                    West Perth      2
12                    Bassendean      1
13                    Bibra Lake      1
14                  High Wycombe      1
15                   Leederville      1
16                  Canning Vale      1
17                     Fremantle      1
18                       Midland      1
19  Fremantle & Southern Suburbs      1
20               North Fremantle      1

In [83]:
# seek_csv_data = seek_count.to_csv('seek_count.csv', index = True)
# print('\nCSV String:\n', seek_csv_data)

------

In [84]:
# skills count? 
# for dendograms

###### just use the same data as word cloud

### Connect to postgres and load data to db

-----

In [128]:
# MOVE TO TOP BEFORE SUBMITTING

from api_keys import postgres_p
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [131]:
protocol = 'postgresql'
username = 'postgres'
password = postgres_p

host = 'localhost'

port = 5432

database_name = 'Project_3'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

insp.get_table_names()

['job_id',
 'construction_scrapes',
 'engineering_scrapes',
 'healthcare_scrapes',
 'sales_scrapes',
 'community_service_scrapes',
 'construction_location_count',
 'engineering_location_count',
 'healthcare_location_count',
 'sales_location_count',
 'community_services_location_count',
 'sales_word_count',
 'community_services_word_count',
 'healthcare_word_count',
 'construction_word_count',
 'engineering_word_count',
 'all_fields_word_count']

In [127]:
############################ NEED TO BUILD JOB ID TABLE AND POST FIRST 


construction_df.to_sql(name='construction_scrapes', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "construction_scrapes" violates foreign key constraint "construction_scrapes_job_id_fkey"
DETAIL:  Key (job_id)=(0) is not present in table "job_id".

[SQL: INSERT INTO construction_scrapes (job_id, job_title, company_name, short_description, job_location, job_classification, job_subclassification, job_site) VALUES (%(job_id)s, %(job_title)s, %(company_name)s, %(short_description)s, %(job_location)s, %(job_classification)s, %(job_subclassification)s, %(job_site)s)]
[parameters: ({'job_id': 0, 'job_title': 'Graduate Construction/Property Program 2023', 'company_name': 'Proforce', 'short_description': 'Seeking an entry-level position with a well-established company? ProForce specialise in placing graduates into corporate roles to launch their careers', 'job_location': 'Fremantle & Southern Suburbs', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 1, 'job_title': 'Operations Manager', 'company_name': 'Grounded Construction Group', 'short_description': 'At grounded we are on the hunt for a experienced Operations Manager. Must have a background in commercial or mining construction', 'job_location': 'West Perth', 'job_classification': 'Construction', 'job_subclassification': 'Management', 'job_site': 'Seek.com.au'}, {'job_id': 2, 'job_title': 'Residential Building Estimator/Scheduler', 'company_name': None, 'short_description': 'Building Estimator: An opportunity exists for an Estimator/Scheduler to join a custom residential builder on full time or permanent part time basis', 'job_location': 'Rivervale', 'job_classification': 'Construction', 'job_subclassification': 'Estimating', 'job_site': 'Seek.com.au'}, {'job_id': 3, 'job_title': 'Construction Site Supervisor / Site Manager - Southern Suburbs', 'company_name': 'Summit Homes Group', 'short_description': 'Construction Supervisor/Site Manager: very competitive salary package on offer, manageable volume of projects and leading trade rates and incentives', 'job_location': 'Perth WA', 'job_classification': 'Construction', 'job_subclassification': 'Foreperson/Supervisors', 'job_site': 'Seek.com.au'}, {'job_id': 4, 'job_title': 'Trainee Supervisor', 'company_name': 'Summit Homes Group', 'short_description': 'We have an exciting and rare opportunity to join our Modular team as a Trainee Supervisor.', 'job_location': 'Myaree', 'job_classification': 'Construction', 'job_subclassification': 'Foreperson/Supervisors', 'job_site': 'Seek.com.au'}, {'job_id': 5, 'job_title': 'Project Manager', 'company_name': 'Bella Build and Design', 'short_description': 'Bella Build and Design are a leading commercial builder specialising in the construction of Fast Food, Fuel & Childcare projects.', 'job_location': 'Belmont', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 6, 'job_title': 'Civil Labourers for Local Work', 'company_name': 'PGC Resources', 'short_description': 'We have an exciting opportunity for Civil Labourers on the Mitchell Freeway Project!', 'job_location': 'Clarkson', 'job_classification': 'Construction', 'job_subclassification': 'Other', 'job_site': 'Seek.com.au'}, {'job_id': 7, 'job_title': 'Construction Manager (Area)', 'company_name': 'JWH Group Pty Ltd', 'short_description': 'An exciting, hands-on role driving continuous improvement in the business to ensure residential construction is seamless and efficient.', 'job_location': 'Osborne Park', 'job_classification': 'Construction', 'job_subclassification': 'Management', 'job_site': 'Seek.com.au'}  ... displaying 10 of 88 total bound parameter sets ...  {'job_id': 86, 'job_title': 'Project Manager', 'company_name': 'Nilsen (W.A) Pty Ltd', 'short_description': 'Due to securing a number of substantial projects & sustainable growth we are looking for an experienced, forward thinking, team player Project Manager', 'job_location': 'Bibra Lake', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 87, 'job_title': 'Logistics Manager', 'company_name': 'Armadale Line Upgrade Alliance', 'short_description': 'Newly created role for a Logistics Manager on the recently awarded ALUA project as part of the overall METRONET works - Apply now!', 'job_location': 'Burswood', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)