Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np
# import gmaps

# # Import API key
# from api_keys import geoapify_key
# from api_keys import gmaps_key

# gmaps.configure(api_key={gmaps_key})

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [4]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [5]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [6]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4','?page=5']

Scrape data

In [7]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

            job_counter += 1 
            
            job_title.append(soup('article')[i]['aria-label'])
            job_site.append("Seek.com.au")
            short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
            job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
            job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
            job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
            
            print('Jobs scraped: %d' % job_counter, end='\r')
            
            try:
                company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
            except:
                company_name.append(np.nan)

-------



# end of scrape

In [8]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

487
487
487

In [9]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [10]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.reset_index(inplace=True)
seek_data_df.rename(columns= {'index':'job_id'}, inplace=True)
seek_data_df.tail(150)

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
337,337,Territory Manager,DuluxGroup,An exciting opportunity for an energetic and p...,Rockingham,Sales,Account & Relationship Management,Seek.com.au
338,338,State Manager,NaN,Are you an outcome focussed Manager with a pas...,Canning Vale,Sales,Management,Seek.com.au
339,339,B2B Key Account Manager - WA,Nespresso,We currently have an exciting opportunity for ...,Perth WA,Sales,Account & Relationship Management,Seek.com.au
340,340,Business Development Manager,District32,Dynamic business development role for a busine...,Perth WA,Sales,New Business Development,Seek.com.au
341,341,Territory Manager,Michael Page Sales,"Visiting customers across WA, including going ...",Perth WA,Sales,New Business Development,Seek.com.au
...,...,...,...,...,...,...,...,...
482,482,ParentsNext - Engagement Officer,Training Alliance Group,Support parents with young children in identif...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
483,483,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
484,484,Traineeship - Individual Support Person,Programmed Skilled Workforce,Traineeship- CHC33015 Cert III in Individual S...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
485,485,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
486,486,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au

---

## Create dataframes for tables

---

In [11]:
# Create job_id dataframe

job_id_df = seek_data_df[['job_id', 'job_classification', 'job_location']].copy()

# rename columns to match schema
job_id_df.rename(columns= {'job_classification':'job_field'}, inplace=True)


job_id_df

     job_id                         job_field  job_location
0         0                      Construction        Malaga
1         1                      Construction      Perth WA
2         2                      Construction  Osborne Park
3         3                      Construction      Balcatta
4         4                      Construction  Osborne Park
..      ...                               ...           ...
482     482  Community Services & Development  Osborne Park
483     483  Community Services & Development     Singleton
484     484  Community Services & Development      Perth WA
485     485  Community Services & Development      Perth WA
486     486  Community Services & Development    West Perth

[487 rows x 3 columns]

### Count words to plot - All Employment Fields

In [12]:
# Word Cloud Data

full_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack())
full_count_df = pd.DataFrame(full_count)
full_count_df = full_count_df[full_count_df[0].str.len() > 4]
full_count_df

                   0
0   1       exciting
    2    opportunity
    5        project
    6       delivery
    10  enthusiastic
...              ...
486 4       Services
    5         claims
    8    Centralised
    9         Claims
    10         team!

[4548 rows x 1 columns]

In [13]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [14]:
seek_count = seek_count[seek_count['word'].str.len() > 4]
seek_count

             word  count
12    opportunity     89
18        Manager     49
20        looking     44
24        seeking     38
26       exciting     36
...           ...    ...
2352        FIFO.      1
2353    February.      1
2354        'Make      1
2357       start.      1
2358      ideally      1

[1923 rows x 2 columns]

In [15]:
seek_count.head(45)

            word  count
12   opportunity     89
18       Manager     49
20       looking     44
24       seeking     38
26      exciting     36
27   experienced     35
28       Project     35
31         Perth     31
32      Engineer     30
33         sales     29
34         based     27
36         their     26
37        people     26
41       Medical     23
42         great     23
43       project     23
44      business     22
47        career     21
49        within     21
51      projects     20
53    experience     20
54       support     19
55         Sales     19
58       company     18
60       Support     18
62  construction     17
65        across     16
66         team.     16
70      Exciting     15
72    Mechanical     15
73         Great     15
75   engineering     15
76    Supervisor     14
77     currently     14
79       dynamic     14
80    management     13
81      building     13
82       working     13
83       develop     13
85   Engineering     13
86    individual     13
87   Opportunity     13
89      industry     13
90       Western     12
92  Construction     12

### Count words to plot - Individual fields (Construction, Engineering, Healthcare, Sales, Community Services)

In [16]:
# Create DF for each job field

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

In [17]:
# create word count DF for each job field
# word cloud
# count, tally and describe words in short_description


# construction

construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# engineering

engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# healthcare

healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# sales

sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# community service
jobs_in_community_services_development_count = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [18]:
# word cloud


# construction

construction_set = construction_df.stack().str.split("[^\w+]").explode().tolist()
construction_count_df = pd.DataFrame(construction_set)
construction_count_df = construction_count_df[construction_count_df[0].str.len() > 4]


# engineering

engineering_set = engineering_df.stack().str.split("[^\w+]").explode().tolist()
engineering_count_df = pd.DataFrame(engineering_set)
engineering_count_df = engineering_count_df[engineering_count_df[0].str.len() > 4]

# healthcare

healthcare_set = healthcare_medical_df.stack().str.split("[^\w+]").explode().tolist()
healthcare_count_df = pd.DataFrame(healthcare_set)
healthcare_count_df = healthcare_count_df[healthcare_count_df[0].str.len() > 4]

# sales

sales_set = sales_df.stack().str.split("[^\w+]").explode().tolist()
sales_count_df = pd.DataFrame(healthcare_set)
sales_count_df = sales_count_df[sales_count_df[0].str.len() > 4]

# community service
community_set = sales_df.stack().str.split("[^\w+]").explode().tolist()
community_count_df = pd.DataFrame(community_set)
community_count_df = community_count_df[community_count_df[0].str.len() > 4]

construction_count_df.rename(columns= {0:'word'}, inplace=True)
engineering_count_df.rename(columns= {0:'word'}, inplace=True)
healthcare_count_df.rename(columns= {0:'word'}, inplace=True)
sales_count_df.rename(columns= {0:'word'}, inplace=True)
community_count_df.rename(columns= {0:'word'}, inplace=True)
construction_count_df.reset_index(drop=True)



construction_count_df.head(40)

            word
1        Project
2    Coordinator
5       Graduate
6       Aluglaze
8       exciting
9    opportunity
12       project
13      delivery
17  enthusiastic
19      aspiring
20       project
21    management
22  professional
24        Malaga
25  Construction
26       Project
27    Management
33    PROTECTION
34       MANAGER
35       Quenmor
37    Protection
38       Manager
40       Quenmor
42    Protection
44      Exciting
45   opportunity
46        awaits
48         right
49     candidate
51         Perth
53  Construction
54    Management
59       Trainee
61    Supervisor
64        Luxury
65        Timber
66      Flooring
67      Retailer
68       Exelect
69   Recruitment

In [19]:
# remove words with less than 5 characters

construction_count = construction_count[construction_count['word'].str.len() > 4]
engineering_count = engineering_count[engineering_count['word'].str.len() > 4]
healthcare_medical_count = healthcare_medical_count[healthcare_medical_count['word'].str.len() > 4]
sales_count = sales_count[sales_count['word'].str.len() > 4]
jobs_in_community_services_development_words = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]

In [20]:
jobs_in_community_services_development_words

            word  count
4          their     16
7        Support     14
9         people     13
15   opportunity      7
18       helping      6
..           ...    ...
394  Coordinator      1
395        Fixed      1
396        guide      1
397      Belmont      1
398     valuable      1

[285 rows x 2 columns]

### Count locations to plot

-----

In [21]:
# seek_data_df
# jobs_in_community_services_development_df

In [22]:
# create df for location counts 
# heatmap plot

all_fields_locations = seek_data_df['job_location'].value_counts()
construction_locations = construction_df['job_location'].value_counts()
engineering_locations = engineering_df['job_location'].value_counts()
healthcare_medical_locations = healthcare_medical_df['job_location'].value_counts()
sales_locations = sales_df['job_location'].value_counts()
jobs_in_community_services_development_locations = jobs_in_community_services_development_df['job_location'].value_counts()

all_fields_locations_df = pd.DataFrame(all_fields_locations)
construction_locations_df = pd.DataFrame(construction_locations)
engineering_locations_df = pd.DataFrame(engineering_locations)
healthcare_medical_locations_df = pd.DataFrame(healthcare_medical_locations)
sales_locations_df = pd.DataFrame(sales_locations)
jobs_in_community_services_development_locations = pd.DataFrame(jobs_in_community_services_development_locations)

jobs_in_community_services_development_locations

                job_location
Perth WA                  15
Bayswater                  2
Cloverdale                 2
Rockingham                 2
Osborne Park               2
Midland                    2
Rivervale                  2
Belmont                    1
Tuart Hill                 1
West Perth                 1
Mirrabooka                 1
Warnbro                    1
Kwinana Beach              1
Fremantle                  1
Mosman Park                1
Maylands                   1
Bentley                    1
Balga                      1
Butler                     1
Claremont                  1
Malaga                     1
Forrestfield               1
Singleton                  1
Mount Pleasant             1
Thornlie                   1
Wembley                    1
Wanneroo                   1

In [23]:
# reset index for tables
all_fields_locations_df.reset_index(inplace=True)
sales_locations_df.reset_index(inplace=True)
construction_locations_df.reset_index(inplace=True)
healthcare_medical_locations_df.reset_index(inplace=True)
engineering_locations_df.reset_index(inplace=True)
jobs_in_community_services_development_locations.reset_index(inplace=True)

In [24]:
# rename columns to be more friendly
all_fields_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
construction_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
healthcare_medical_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
sales_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
jobs_in_community_services_development_locations.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df

            job_location  count
0               Perth WA     54
1                 Malaga      6
2              Henderson      5
3           Canning Vale      4
4                Wangara      3
5              Welshpool      3
6              Hazelmere      2
7                Bentley      2
8            Forrestdale      2
9               Kardinya      2
10              Jandakot      2
11               Subiaco      2
12                Myaree      2
13             Bayswater      2
14               Wembley      2
15            Bibra Lake      2
16           Leederville      1
17               Belmont      1
18                 Ascot      1
19            West Perth      1
20               Midland      1
21         Kwinana Beach      1
22              Balcatta      1
23              Wanneroo      1
24         Perth Airport      1
25          North Coogee      1
26             Rivervale      1
27             Cottesloe      1
28         Garden Island      1
29  Rockingham & Kwinana      1
30                Butler      1

In [25]:
###### DEBUG - REMOVE

# seek_csv_data = seek_count.to_csv('seek_count.csv', index = True)
# print('\nCSV String:\n', seek_csv_data)

------

### Connect to postgres and load data to db

-----

In [33]:
# MOVE TO TOP BEFORE SUBMITTING

from api_keys import postgres_p
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [34]:
protocol = 'postgresql'
username = 'postgres'
password = postgres_p

host = 'localhost'

port = 5432

database_name = 'Project_3'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

insp.get_table_names()

['job_id',
 'construction_scrapes',
 'engineering_scrapes',
 'healthcare_scrapes',
 'sales_scrapes',
 'community_service_scrapes',
 'allfields_location_count',
 'construction_location_count',
 'engineering_location_count',
 'healthcare_location_count',
 'sales_location_count',
 'community_services_location_count',
 'sales_word_count',
 'community_services_word_count',
 'healthcare_word_count',
 'construction_word_count',
 'engineering_word_count',
 'all_fields_word_count',
 'sales_words',
 'community_services_words',
 'healthcare_words',
 'construction_words',
 'engineering_words',
 'all_fields_words',
 'community_service_count']

In [35]:
jobs_in_community_services_development_df

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
440,440,APS4 Access Assessor,National Disability Insurance Scheme,Support the choice & control of people with di...,Midland,Community Services & Development,Aged & Disability Support,Seek.com.au
441,441,NDIA APS5 Lawyer,National Disability Insurance Scheme,APS5 Lawyer - undertake procedural and operati...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
442,442,APS5 National Reassessment Officer,National Disability Insurance Scheme,Support the choice & control of people with di...,Midland,Community Services & Development,Aged & Disability Support,Seek.com.au
443,443,APS5 Remote Support & Coordination - Affirmati...,National Disability Insurance Scheme,The National Remote Services Branch responsibi...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
444,444,Home Care Employee - Multiple positions - High...,At Home Health,"Provide care, social support and companionship...",Wembley,Community Services & Development,Aged & Disability Support,Seek.com.au
445,445,Job Coach - Wanneroo,atWork Australia,We have an exciting opportunity to join our Jo...,Wanneroo,Community Services & Development,Employment Services,Seek.com.au
446,446,Employability Skills Trainer (Perth South),Training Alliance Group,Support job seekers aged 15 and over in Perth ...,Fremantle,Community Services & Development,Employment Services,Seek.com.au
447,447,Employability Skills Trainer (Perth North),Training Alliance Group,Support job seekers aged 15 and over in the Pe...,Mirrabooka,Community Services & Development,Employment Services,Seek.com.au
448,448,Recruiters Seeking A Change,CCIWA,Passionate about assisting young people to sta...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
449,449,Community Support Workers,Vitil,Looking for a rewarding job supporting our eld...,Mount Pleasant,Community Services & Development,Aged & Disability Support,Seek.com.au
450,450,Employer Engagement Partner,genU,Bring your passion for community and assist Jo...,Kwinana Beach,Community Services & Development,Employment Services,Seek.com.au
451,451,Philanthropy & Partnerships Manager,RSPCA WA,Great opportunity for a Philanthropy specialis...,Malaga,Community Services & Development,Fundraising,Seek.com.au
452,452,Safety and Support Officer,Uniting WA,Fantastic opportunity to work in a collaborati...,Perth WA,Community Services & Development,Housing & Homelessness Services,Seek.com.au
453,453,Duty Social Worker - Foster Care- PT - Fterm ...,Wanslea Ltd,Duty Social Worker - Foster Care- Part Time -...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
454,454,Family Support Worker - Foster Care - Cloverdale,Wanslea Ltd,If your passionate about high quality support ...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
455,455,CLIENT ADVISOR,ECHO Community Services,Care Coordinator,Bayswater,Community Services & Development,Aged & Disability Support,Seek.com.au
456,456,Employment Services Consultant,WorkFocus Australia,Join our team in Perth! Our goal is to seamles...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
457,457,Support Worker/ Mentor,NaN,Supporting a 15 year old autistic boy.\nFun an...,Balga,Community Services & Development,Aged & Disability Support,Seek.com.au
458,458,Job Coach - Warnbro,atWork Australia,Join a high-flying team helping to change live...,Warnbro,Community Services & Development,Employment Services,Seek.com.au
459,459,Employment Support Consultant,Maxima Training Group (Aust) Ltd.,Support Customers on the job and liaise with e...,Belmont,Community Services & Development,Employment Services,Seek.com.au
460,460,Disability Mentor/Support Worker,Mighty Mentors,If you like the idea of combining work and lei...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
461,461,Aboriginal Services Coordinator,Henderson Healthcare,"Permanent, full time position available for an...",Perth WA,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
462,462,Community Support Worker,Autism Association of WA (Inc),"Supporting individuals in the community, at wo...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
463,463,Innovative Employment Advisor - Disability,Valued Lives Foundation,We are expanding and seeking Innovative Employ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
464,464,Support Worker,Aberstone Community Services,An exciting opportunity to support a young and...,Thornlie,Community Services & Development,Aged & Disability Support,Seek.com.au
465,465,Security Officer / Ranger (Casual),City of Bayswater,"Security Officer, Ranger, Local Government, Co...",Bayswater,Community Services & Development,Community Development,Seek.com.au
466,466,High care Support Worker,Avivo,"Avivo Support Workers work alongside people, f...",Maylands,Community Services & Development,Aged & Disability Support,Seek.com.au
467,467,Support Worker - Forrestfield & Kalamunda,Avivo,"Avivo supports people with a disability, peopl...",Forrestfield,Community Services & Development,Aged & Disability Support,Seek.com.au
468,468,Recovery Partner - Night Shift,Southern Cross Care (WA) Inc.,Our overnight shifts in Mt Claremont are an ex...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
469,469,Support Worker - Butler,Avivo,"Avivo Support Workers work alongside people, f...",Butler,Community Services & Development,Aged & Disability Support,Seek.com.au
470,470,Support Worker - Tuart Hill,Avivo,"Avivo Support Workers work alongside people, f...",Tuart Hill,Community Services & Development,Aged & Disability Support,Seek.com.au
471,471,Support Workers,Aberstone Community Services,Enjoy a meaningful role supporting your local ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
472,472,Home Care Clinical Coordinator,Southern Cross Care (WA) Inc.,Bring your clinical experience in a home care ...,Rivervale,Community Services & Development,Aged & Disability Support,Seek.com.au
473,473,Respite Centre Coordinator,Southern Cross Care (WA) Inc.,Join a rewarding career in Community services ...,Rivervale,Community Services & Development,Management,Seek.com.au
474,474,Disability Support Worker - Mosman Park,Avivo,Avivo Support Workers work alongside people fr...,Mosman Park,Community Services & Development,Aged & Disability Support,Seek.com.au
475,475,Playgroup Support Worker - Boronia,YMCA WA,The Y WA requires a Casual Playgroup Support W...,Bentley,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
476,476,Assurance and Compliance Officer WA - Pacific ...,Palladium International Pty Ltd -Pacific Labou...,An opportunity to be a part of a positive impa...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
477,477,Support Worker - Perth City,Avivo,"Our Support Workers work alongside people, fro...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
478,478,Senior Recovery Partner,Southern Cross Care (WA) Inc.,"People who work in aged care are special, and ...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
479,479,Support worker - Rockingham & Surrounds,Avivo,Love benefits such as a great work life balanc...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
480,480,High care Support Worker - Claremont & Floreat,Avivo,"Avivo supports people with a disability, peopl...",Claremont,Community Services & Development,Aged & Disability Support,Seek.com.au
481,481,Support Worker,Southern Cross Care (WA) Inc.,Join a rewarding career with a flexible workin...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
482,482,ParentsNext - Engagement Officer,Training Alliance Group,Support parents with young children in identif...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
483,483,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
484,484,Traineeship - Individual Support Person,Programmed Skilled Workforce,Traineeship- CHC33015 Cert III in Individual S...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
485,485,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
486,486,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au

In [37]:
# load to database

# Job_ID Table

job_id_df.to_sql(name='job_id', con=engine, if_exists='append', index=False)

## Scraped job Tables

construction_df.to_sql(name='construction_scrapes', con=engine, if_exists='append', index=False)
engineering_df.to_sql(name='engineering_scrapes', con=engine, if_exists='append', index=False)
healthcare_medical_df.to_sql(name='healthcare_scrapes', con=engine, if_exists='append', index=False)
sales_df.to_sql(name='sales_scrapes', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_df.to_sql(name='community_service_scrapes', con=engine, if_exists='append', index=False)

# ## Word Tables

construction_count_df.to_sql(name='construction_words', con=engine, if_exists='append', index=False)
engineering_count_df.to_sql(name='engineering_words', con=engine, if_exists='append', index=False)
healthcare_count_df.to_sql(name='healthcare_words', con=engine, if_exists='append', index=False)
sales_count_df.to_sql(name='sales_words', con=engine, if_exists='append', index=False)
community_count_df.to_sql(name='community_services_words', con=engine, if_exists='append', index=False)

# ## Word counts

construction_count.to_sql(name='construction_word_count', con=engine, if_exists='append', index=False)
engineering_count.to_sql(name='engineering_word_count', con=engine, if_exists='append', index=False)
healthcare_medical_count.to_sql(name='healthcare_word_count', con=engine, if_exists='append', index=False)
sales_count.to_sql(name='sales_word_count', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_words.to_sql(name='community_services_word_count', con=engine, if_exists='append', index=False)

# ## Location Tables

all_fields_locations_df.to_sql(name='allfields_location_count', con=engine, if_exists='append', index=False)
engineering_locations_df.to_sql(name='engineering_location_count', con=engine, if_exists='append', index=False)
construction_locations_df.to_sql(name='construction_location_count', con=engine, if_exists='append', index=False)
healthcare_medical_locations_df.to_sql(name='healthcare_location_count', con=engine, if_exists='append', index=False)
sales_locations_df.to_sql(name='sales_location_count', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_locations.to_sql(name='community_services_location_count', con=engine, if_exists='append', index=False)

In [38]:
pd.read_sql_query('select * from Engineering_Words', con=engine).head(15)

             word
0        Graduate
1        Engineer
2          Teekay
3        Shipping
4       Australia
5         largest
6       respected
7   international
8        shipping
9       companies
10          world
11      Henderson
12    Engineering
13          Other
14        Project

In [41]:
pd.read_sql_query('select * from construction_word_count', con=engine).head(15)

            word  count
0    opportunity     26
1        Manager     19
2        Project     15
3     Supervisor     14
4        looking     13
5    experienced     13
6        project     12
7       exciting     12
8   Construction     11
9        seeking     10
10  construction     10
11      building      9
12         based      9
13      projects      8
14   Residential      8

In [40]:
# location_list = []

In [ ]:
# # Create location df for coordinates

# location_list_list = seek_data_df['job_location'].unique().tolist() 

# location_list = pd.DataFrame(seek_data_df['job_location'].unique())

In [ ]:

# location_list.columns = ['job_location']
# location_list

In [ ]:

# for address in location_list:
#     params = {
#          "key" : gmaps_key,
#          "address": address
#     }
#     base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
#     response = requests.get(base_url, params = params).json()
#     response.keys()
#     if response ["status"] == "OK":
#          geometry = response["results"][0]["geometry"]
#          latitude = geometry["location"]["lat"]
#          longitude = geometry["location"]["lng"]
#          location.iloc[[1]] = longitude
#          print(geometry)

In [ ]:
# temp = ''

# location_list['lon'] = temp
# location_list['lat'] = temp

In [ ]:
print(response)

In [ ]:
location_list